@import "tailwindcss";

/* Nạp file định nghĩa giao diện hệ thống Walkamon */
@import "./styles/theme.css";

:root {
  /* Giữ lại cấu hình font chữ hệ thống mượt mà của dự án gốc */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-family: var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}